@model RequestApplication.Services.Dto.RequestDto

@{
    ViewData["Title"] = "Редактировать заявку";
}

<div class="text-center">
    <h1 class="display-4">Редактировать заявку</h1>
</div>

<center>

@using (Html.BeginForm("Edit", "Request", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <table>
        <tr>
            <td><b>Наименование</b></td>
                <td>@Html.TextBoxFor(model => model.Name,new {style = "width: 250px;", @required  = "required" })<br /></td>
        </tr>
        <tr>
            <td><b>Приложение</b></td>
                <td>@Html.DropDownList("ApplicationId", ViewBag.Apps as SelectList,new {style = "width: 250px;", @required  = "required" })<br /></td>
        </tr>
        <tr>
            <td><b>Дата окончания разработки</b></td>
                <td>@Html.EditorFor(m => m.EndDate, new {style = "width: 250px;" , @required  = "required"})<br /></td>
        </tr>
        <tr>
            <td><b>Email</b></td>
                <td>@Html.TextBoxFor(m => m.Email, new { @type = "email", style = "width: 250px;", @required  = "required"  })<br /></td>
        </tr>
        <tr>
            <td><b>Описание</b></td>
                <td>@Html.TextAreaFor(model => model.Description, 5, 1, new {style = "width: 250px;", @required  = "required" })<br /></td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
                <center><input type="submit" value="Сохранить" /></center>
            </td>
        </tr>
    </table>
}
</center>